<div class="container-fluid">
    <div class="row main-text main-bkgrd p-3">

        <div class="col bord-right main-bkgrd">
            <h3>Your Projects</h3>
            <div class="list-group">
                <div class="project-card">
                    <a href="">hello</a>
                    <img src="./assets/plus-icon.png" routerLink="/projects" routerLinkActive="active" alt="" style="width: 50px;">
                    <h3>Add new Project</h3>
                </div>
                
                <app-projects></app-projects>
              </div>
        </div>

        <div class="col bord-left main-bkgrd">
            <button class="btn-outline-primary">See your tasks today</button>
        </div>

    </div>
</div>

