.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-column{
    display: flex;
    flex-direction: column;
}

.project-list{
    display: flex;
    flex-direction: column;
}

.project-card{
    margin-top: 25px;
}

mat-card{
    width: 300px;
    margin: 15px;
    border: 1px solid black;
}

.task-list{
    list-style: none;
}

.list-group-item{
    margin: 5px;
}