<app-nav></app-nav>
<div class="container">
    <form #projectCreateForm="ngForm" (ngSubmit)="ProjectCreate(projectCreateForm.value)" class="create-form">
        <mat-form-field appearance="fill">
            <mat-label>Project Title</mat-label>
            <input matInput name="title" ngModel>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput name="description" ngModel></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Estimated Completion Date</mat-label>
            <input matInput [matDatepicker]="picker" name="expectedCompletion" ngModel>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
            <button 
            mat-raised-button 
            color="primary" 
            type="submit"
            >
            Create Project
        </button>
    </form>
</div>
<router-outlet></router-outlet>